*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  background-color: rgb(97, 18, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  min-height: 80px;
}

main{
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

#nome{
  width: 270px;
  height: auto;
  justify-self: start;
}

.menu-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  flex-grow: 1;
}

.Equipe,.Ajuda,.Sobre,.Home{
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size:xx-large;
}

.login{
  justify-self: end;
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 45px;
  border: none;
  background-color: rgb(151, 95, 255);
  color: white;
  box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
  0px 5px 10px rgba(5, 5, 5, 0.212),
  0px -10px 10px rgb(124, 54, 255) inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}





