.contato{
    margin: 120px auto;    
    height: 500px;
    width: 60%;
    border: solid black 2px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align: center;
}
