.contato{
    margin: 120px auto;    
    height: 600px;
    width: 80%;
    border: solid black 2px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;

    background-image: url('/pergaminho02.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.7));

    image-rendering: pixelated;
    image-rendering: crisp-edges;

    transition: transform 0.4s ease, filter 0.4s ease;
    cursor: pointer;
}

.contato:hover{
    transform: translateY(-8px) scale(1.01);
    
    filter: drop-shadow(0px 25px 30px rgba(0, 0, 0, 0.95));
}

#problema{
    font-size: 38px;
    text-shadow:  
    0px 0px 3px rgba(0, 0, 0, 0.9);
}

